.App-header {
    color: white;
}

.ScreenCanvas {
    margin: 10px;
    width: 360px;
    height: 640px;
    min-height: 640px;
    user-select: none;
}

.LogOutput {
    height: 100%;
    overflow-y: scroll;
}

.tab-pane {
    position: absolute;
    top: 42px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
}

.terminal-wrapper {
    display: flex;
    overflow: auto;
}